<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_teledeck._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>iPadアプリ「TeleDeck」を同一Wi-Fi上で自動検出できるようにするために使用します。</string>
</dict>
</plist>
